@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


html {
  overflow-x: hidden;
}

.tables tr:nth-child(even) {
  background-color: #fff;
}

.tables tr:nth-child(odd) {
  background-color: #f9f9f9;
}


:root {
  --progress: 240deg;
}
.circle {
  /* background: conic-gradient(#c74aae 240deg, #fff 0deg); */
  background: conic-gradient(#FFA439 var(--progress), #E4E9EE 0deg);
  border-radius: 50%;
  transform: rotate(-270deg);
}
.circle-progress::before {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: #fff;
    border-radius: 50%;
}

.ola {
  transform: rotate(270deg);
}


#ola {
  padding: 1rem;
}

#ola #tobi {

  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  padding: 1rem;
}
#ola #tosin {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
