@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


html {
  overflow-x: hidden;
}

.tables tr:nth-child(even) {
  background-color: #fff;
}

.tables tr:nth-child(odd) {
  background-color: #f9f9f9;
}
